<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

   <arg name="basepath" value="."/>
   <arg name="cache" value=".phpcs-cache"/>
   <arg name="colors"/>
   <arg name="extensions" value="php"/>
   <arg name="parallel" value="80"/>

   <!-- Show progress -->
   <arg value="sp"/>

   <!-- Paths to check -->
   <file>config</file>

   <!-- Excluding local.php file from inspections -->
   <exclude-pattern type="relative">^/config/autoload/local\.php</exclude-pattern>

   <!-- Main folder containing source code, it's `src` for libraries, and `module` for Laminas applications -->
   <file>src</file>

   <!-- Test files (if any) -->
   <file>test</file>

   <!-- Include all rules from the Uniques Coding Standard -->
   <rule ref="UniquesCodingStandard">
       <exclude-pattern type="relative">^/scripts/migrations/*</exclude-pattern>
   </rule>

   <!-- Include all rules from the Uniques Phinx Coding Standard -->
   <rule ref="UniquesPhinxCodingStandard">
       <exclude-pattern type="relative">^/config/*</exclude-pattern>
       <exclude-pattern type="relative">^/src/*</exclude-pattern>
       <exclude-pattern type="relative">^/test/*</exclude-pattern>
   </rule>
</ruleset>
