<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

   <arg name="basepath" value="."/>
   <arg name="cache" value=".phpcs-cache"/>
   <arg name="colors"/>
   <arg name="extensions" value="php,phtml"/>
   <arg name="parallel" value="80"/>

   <!-- Show progress -->
   <arg value="sp"/>

   <!-- Paths to check -->
   <file>config</file>

   <!-- Excluding local.php file from inspections -->
   <exclude-pattern type="relative">^/config/autoload/local\.php</exclude-pattern>

   <!-- Main folder containing source code for libraries -->
   <file>src</file>

   <!-- Main folder containing source code for Laminas applications -->
   <file>module</file>

   <!-- Test files -->
   <file>test</file>

   <!-- Include all rules from the Uniques Coding Standard -->
   <rule ref="UniquesCodingStandard">
        <include-pattern type="relative">^/config/*\.php$</include-pattern>
        <include-pattern type="relative">^/src/*\.php$</include-pattern>
        <include-pattern type="relative">^/module/*\.php$</include-pattern>
   </rule>

   <!-- Include all rules from the Uniques Phinx Coding Standard -->
   <rule ref="UniquesPhinxCodingStandard">
        <include-pattern type="relative">^/scripts/migrations/*\.php$</include-pattern>
   </rule>

  <!-- Include all rules from the Uniques Phinx Coding Standard -->
  <rule ref="UniquesViewCodingStandard">
        <include-pattern>*\.phtml</include-pattern>
  </rule>

</ruleset>
