<?xml version="1.0"?>
<psalm
    errorLevel="3"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    allowStringToStandInForClass="true"
    findUnusedCode="false"
>
    <projectFiles>
        <directory name="config"/>
        <directory name="src"/>
        <directory name="tests"/>
        <directory name="scripts/migrations"/>
    </projectFiles>

    <plugins>
        <!-- Remove this if the project doesn't use PhpUnit -->
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <!-- Remove this if the project doesn't use Doctrine -->
        <pluginClass class="Weirdan\DoctrinePsalmPlugin"/>
    </plugins>

    <issueHandlers>
        <PropertyNotSetInConstructor errorLevel="suppress" />
    </issueHandlers>
</psalm>
